{% extends "index.html" %}
{% block a %}
    <div class="container-fluid">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
                <label for="email">Query</label>
                <input type="text" required class="form-control" name="cmd" id="email">
              </div>
             
              
              <button type="submit" class="btn btn-default btn-success">Submit</button>
        </form>
      </div>
      <div class="container-fluid">
            <div class="form-group">
                <label for="email"> {{A}}</label>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Query</td>
                           
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                      {% for al in data %}
                        <tr>
                          <td>{{al.1}}</td>
                          
                          <td><a href="{% url 'nlpsql:cmdremove' al.0 %}">Remove</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  
      

    {% endblock %}