{% extends "index.html" %}
{% block a %}
    <div class="container-fluid">
        <form method="GET">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">News</label>
            <textarea type="text" rows="4" cols="50" required  class="form-control" name="news" id="email">

            </textarea>
          </div>
          
          <button type="submit" class="btn btn-default btn-success">Save</button>
        </form>
      </div>
      <div class="container-fluid">
          <div class="form-group">
              <label for="email"> {{A}}</label>
              <table class="table">
                  <thead>
                   
                  </thead>
                  <tbody>
                    {% for al in data %}
                      <tr>
                        <td>{{al.mainnews}}</td>
                        <td>{{al.summary}}</td>
                        
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}